.banner {
  position: relative;
}
.banner-cnt-titles {
  position: absolute;
  z-index: 2;
  top: 34%;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 650px) {
  .banner-cnt-titles {
    top: 38%;
  }
}
.banner-slider img,
.banner-page-img img {
  width: 100%;
}
@media (max-width: 767px) {
  .banner-slider img,
  .banner-page-img img {
    height: 377px;
    width: auto !important;
    margin: 0 auto;
  }
}
.banner-slider-item {
  position: relative;
  width: 100%;
}
.banner-slider-item p {
  position: absolute;
  z-index: 2;
  bottom: -3px;
  left: 20px;
  white-space: nowrap;
  display: none;
  font-family: "Circe-Bold";
  font-size: 32px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .banner-slider-item p {
    font-size: 21px;
    line-height: 16px;
  }
}
@media (max-width: 630px) {
  .banner-slider-item p {
    display: block;
  }
}
@media (max-width: 767px) {
  .banner-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
.banner::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: calc(100% - 4px);
  left: calc(50% - 0.5px);
  width: 1px;
  height: 155px;
  transform: translateX(-50%);
  display: block;
  background-color: #d6d6d6;
  transition: 0.3s ease;
}
@media (max-width: 1250px) {
  .banner::before {
    display: none;
  }
}
.head-title h1 {
  font-family: "Circe-ExtraLight";
  font-size: 114px;
  line-height: 121px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .head-title h1 {
    font-size: 90px;
    line-height: 90px;
  }
}
@media (max-width: 992px) {
  .head-title h1 {
    font-size: 62px;
    line-height: 68px;
  }
}
.head-title p {
  font-family: "Circe-Light";
  padding-left: 78px;
  font-size: 47px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .head-title p {
    font-size: 38px;
    line-height: 38px;
  }
}
@media (max-width: 992px) {
  .head-title p {
    padding-left: 50px;
    font-size: 26px;
    line-height: 26px;
  }
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs span,
.breadcrumbs a {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  transition: 0.3s ease;
}
.breadcrumbs .slash {
  display: inline-block;
  margin: 0 10px;
}
.banner-page .head-title h1 {
  margin-left: -4px;
  margin-bottom: 10px;
  font-family: "Circe-ExtraLight";
  font-size: 56px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-page .head-title h1.smaller {
  font-size: 32px;
  line-height: 44px;
}
@media (max-width: 992px) {
  .banner-page .head-title h1.smaller {
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .banner-page .head-title h1 {
    font-family: "Circe-Bold";
    font-size: 24px;
    line-height: 24px;
  }
}
.banner-page .banner-cnt-titles {
  top: auto;
  bottom: 79px;
}
.banner-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
}
.banner-info p {
  font-family: "Circe-Bold";
  font-size: 32px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .banner-info p {
    font-size: 21px;
    line-height: 16px;
  }
}
@media (max-width: 630px) {
  .banner-info p {
    display: none;
  }
}
