
.banner {
    position: relative;
    &-cnt {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        padding: 210px 0 0;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: calc(100%);
        left: calc(50% - 0.5px);
        width: 1px;
        height: 155px;
        transform: translateX(-50%);
        display: block;
        background-color: #d6d6d6;
        transition: 0.3s ease;
    }
}

.head-title {
    padding-bottom: 203px;
    & h1 {
        font-family: 'Circe-ExtraLight';
        font-size: 114px;
        line-height: 121px;
        text-transform: uppercase;
        color: #ffffff;
    }
    & p {
        font-family: 'Circe-Light';
        padding-left: 78px;
        font-size: 47px;
        line-height: 47px;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.banner-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p {
        font-family: 'Circe-Bold';
        font-size: 32px;
        line-height: 23px;
        text-transform: uppercase;
        color: #ffffff;
    }
}