
.banner {
    position: relative;
    &-cnt {
        &-titles {
            position: absolute;
            z-index: 2;
            top: 34%;
            left: 50%;
            transform: translate(-50%);
            @media (max-width: 650px) {top: 38%;}
        }
    }
    &-slider,
    &-page-img {
        & img {width: 100%;}
        @media (max-width: 767px) {
            img {
                height: 377px;
                width: auto !important;
                margin: 0 0 0 -180px;
            }
        }
    }
    &-slider {
        &-item {
            position: relative;
            width: 100%;
            @media (max-width: 767px){
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                overflow: hidden;
            }
            & p {
                position: absolute;
                z-index: 2;
                bottom: -3px;
                left: 20px;
                white-space: nowrap;
                display: none;
                font-family: 'Circe-Bold';
                font-size: 32px;
                line-height: 23px;
                text-transform: uppercase;
                color: #ffffff;
                @media (max-width: 1250px) {
                    font-size: 21px;
                    line-height: 16px;
                }
                @media (max-width: 630px) {
                    display: block;
                }
            }
        }
    }

    &-page-img {
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: calc(100% - 4px);
        left: calc(50% - 0.5px);
        width: 0.2px;
        height: 155px;
        transform: translateX(-50%);
        display: block;
        background-color: #d6d6d6;
        transition: 0.3s ease;
        @media (max-width: 1250px) {
            display: none;
        }
    }
}

.head-title {
    & h1 {
        font-family: 'Circe-ExtraLight';
        font-size: 114px;
        line-height: 121px;
        font-weight: 100;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1250px) {
            font-size: 90px;
            line-height: 90px;
        }
        @media (max-width: 992px) {
            font-size: 62px;
            line-height: 68px;
        }
    }
    & p {
        font-family: 'Circe-Light';
        padding-left: 78px;
        font-size: 47px;
        line-height: 47px;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1250px) {
            font-size: 38px;
            line-height: 38px;
        }
        @media (max-width: 992px) {
            padding-left: 50px;
            font-size: 26px;
            line-height: 26px;
        }
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width:767px) {display: none;}
    & span,
    & a {
        font-family: 'Gilroy-Medium';
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        transition: 0.3s ease;
    }
    & .slash {
        display: inline-block;
        margin: 0 10px;
    }
}

.banner-page {
    & .head-title {
        h1 {
            margin-left: -4px;
            margin-bottom: 10px;
            font-family: 'Circe-ExtraLight';
            font-size: 56px;
            line-height: 56px;
            text-transform: uppercase;
            color: #ffffff;
            &.smaller {
                font-size: 32px;
                line-height: 44px;
                @media (max-width: 992px) {
                    font-size: 21px;
                    line-height: 24px;
                }
            }
            @media (max-width: 767px) {
                font-family: 'Circe-ExtraLight';
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
    & .banner-cnt-titles {
        top: auto;
        bottom: 79px;
        @media (max-width: 1024px) {
            top: auto;
            bottom: 22px;
        }
    }
}

.banner-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%);
    & p {
        font-family: 'Circe-Bold';
        font-size: 32px;
        line-height: 23px;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1250px) {
            font-size: 21px;
            line-height: 16px;
        }
        @media (max-width: 630px) {
            display: none;
        }
    }
}