.card {
    .wrapper {
        max-width: 1920px;
        padding: 0;
    }
    &-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 157px 0 126px;
        @media (max-width: 992px) {padding: 72px 0 65px;}
        &-img {
            width: 100%;
            max-width: 695px;
            margin-right: 90px;
            @media (max-width: 1150px)  {
                margin-right: 20px;
            }
            @media (max-width: 1050px)  {
                max-width: 400px;
            }
            @media (max-width: 992px) {display: none;}
            & img {width: 100%;}
        }
        &-cnt {
            width: 100%;
            max-width: 646px;
            padding-right: 20px;
            @media (max-width: 992px) {
                padding-left: 20px;
                max-width: 100%;
            }
            & h4 {
                padding-bottom: 20px;
                font-family: "Circe-Light";
                font-size: 32px;
                line-height: 42px;
                text-transform: uppercase;
                color: #06828a;
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                    font-size: 26px;
                    line-height: 32px;
                    & br {display: none;}
                }
            }
            & p {
                font-family: 'Gilroy-Regular';
                font-size: 16px;
                line-height: 22px;
                color: #898989;
                &:not(:last-child) {margin-bottom: 20px;}
                & b { font-family: 'Gilroy-Bold';}
                @media (max-width: 767px) {
                    font-size: 14px;
                    line-height: 22px;
                    &:not(:last-child) {margin-bottom: 21px;}
                }
            }
        }
    }
    &-gallery {
        margin-bottom: 88px;
        @media (max-width: 767px) {margin-bottom: 75px;}
        &-view {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -4px;
            @media (max-width: 992px) {margin-top: 65px;}
            & img {
                width: 100%;
                @media (max-width: 767px) {min-height: 208px;}
            }
            .gallery-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                width: 100%;
                display: block;
                font-family: "Circe-Bold";
                font-size: 56px;
                line-height: 66px;
                @media (max-width: 767px) {
                    font-size: 33px;
                    line-height: 43px;
                    margin-top: -45px;
                    padding: 0 19px;
                }
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                & span {
                    display: block;
                    &:nth-child(2) {
                        position: relative;
                        padding-bottom: 7px;
                        font-family: "Circe-Bold";
                        font-size: 21px;
                        line-height: 21px;
                        text-transform: initial;
                        @media (max-width: 767px)  {
                            font-family: 'Gilroy-Semibold';
                            font-size: 14px;
                            line-height: 14px;
                            padding-top: 21px;
                        }
                        &::before {
                            content: '';      
                            position: absolute;
                            top: 100%;
                            left: calc(50% - 15.5px);
                            display: block;
                            width: 31px;
                            height: 2px;   
                            background-color: #ffffff;       
                        }
                    }
                }
            }
        }
        & h2 {
            padding-left: 0;
            width: 100%;
            max-width: 1100px;
            margin: 0 auto 74px;
            @media (max-width: 992px) {
                padding: 0 20px;
                margin: 0 auto 61px;
            }
        }
        &-cnt {
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px)  {
                flex-direction: column;
                align-items: center;
            }
        }
        &-img {
            width: 100%;
            & img {
                width: 100%;
            }
        }
        &-title {
            position: relative;
            width: 100%;
            max-width: 963px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @media (max-width: 992px)  {
                min-height: 240px;
                max-width: 100%;
                order: 0;
            }
            @media (max-width: 767px) {max-height: 208px;}
            & img {width: 100%;}
            & span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                padding-bottom: 20px;
                font-family: "Circe-Bold";
                font-size: 36px;
                line-height: 36px;
                text-transform: uppercase;
                color: #ffffff;
                @media (max-width: 767px) {
                    display: block;
                    padding-bottom: 10px;
                    font-size: 21px;
                    line-height: 21px;
                    margin-top: -16px;
                }
                &::before {
                    content: '';      
                    position: absolute;
                    top: 100%;
                    left: calc(50% - 23px);
                    display: block;
                    width: 46px;
                    height: 3px;   
                    background-color: #ffffff;       
                }
            }
        }
        &-list {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: row wrap;
            width: 100%;
            max-width: 957px;
            @media (max-width: 992px)  {
                max-width: 100%;
                order: 1;
            }
            & a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 3);
                overflow: hidden;
                @media (max-width: 550px)  {width: calc(100% / 2);}
                & img {
                    width: 100%;
                    max-height: 213px;
                }
                &:nth-child(n+7) {display: none;}
                @media (max-width: 550px)  {
                    &:nth-child(n+5) {display: none;}
                }
                &.show {
                    & img {display: none;}
                }
                & span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-family: "Circe-Bold";
                    font-size: 35px;
                    line-height: 35px;
                    text-transform: uppercase;
                    color: #ffffff;
                    transition: 0.3s ease;
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    & img {width: 41px;}
                }
                &:hover span {opacity: 1;}
            }
        }
    }
    &-planning {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 123px;
        @media (max-width: 1260px)  {
            flex-flow: row wrap;
            justify-content: space-around;
        }
        @media (max-width: 767px)  {
            padding: 0 20px;
            margin-bottom: 68px;
        }
        & div,
        &  a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 368px;
        }
        & div {
            font-family: "Circe-Light";
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;
            color: #06828a;
            @media (max-width: 1260px)  {
                max-width: 100%;
                padding: 0 20px 30px;
            }
            @media (max-width: 767px)  {
                width: 100%;
                text-align: left;
                justify-content: flex-start;
                padding: 0 0 61px;
                font-size: 26px;
                line-height: 26px;
            }
        }
        &  a {
            @media (max-width: 1260px)  {max-width: 25%;}
            @media (max-width: 767px)  {
                display: block;
                max-width: 100%;
                &:not(:last-child) {margin-bottom: 45px;}
            }
            & img {width: 100%;}
            & .planning-mob {
                display: none;
                @media (max-width: 767px)  {
                    display: block;
                    margin-bottom: 14px;
                }
            }
            & .planning-pc {
                @media (max-width: 767px)  {display: none;}
            }
            & .card-planning-info {
                display: none;
                font-family: "Circe-Light";
                font-size: 14px;
                line-height: 18px;
                color: #262626;
                @media (max-width: 767px)  {display: block;}
            }
            & span:not(.card-planning-info) {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                transition: 0.3s ease;
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 0;
                @media (max-width: 767px)  {display: none;}
                & img {width: 41px;}
            }
            &:hover span {opacity: 1;}
        }
    }
    &-specifications {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1728px;
        margin-bottom: 131px;
        @media (max-width: 1150px)  {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 767px) {margin-bottom: 50px;}
        &-video {
            width: 100%;
            max-width: 1070px;
            margin-right: 15px;
            @media (max-width: 1600px)  {
                max-width: 700px;
            }
            @media (max-width: 1150px)  {
                max-width: 700px;
                margin-bottom: 44px;
                margin-right: 0;
            }
            & img,
            & video,
            & iframe {
                width: 100%;
                height: 724px;
                @media (max-width: 1600px)  {
                    height: 500px;
                }
                @media (max-width: 1150px)  {
                    height: 380px;
                }
                @media (max-width: 767px)  {
                    height: 250px;
                }
            }
        }
        .article-table {
            max-width: 435px;
            @media (max-width: 1150px)  {
                max-width: 740px;
                width: 100%;
                padding: 0 20px;
                & table {max-width: 100%;}
            }
        }
        & .article-table-title {
            font-size: 32px;
            line-height: 42px;
            @media (max-width: 767px)  {
                font-size: 26px;
                line-height: 32px;
            }
        }
    }
    &-more {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        @media (max-width: 1150px)  {
            flex-direction: column;
            align-items: center;
        }
        & .contact-form {
            width: 100%;
            max-width: 1300px;
            padding: 0 0 284px 162px;
            margin-right: 35px;
            @media (max-width: 1600px) {
                padding: 0 0 100px 20px;
                margin-right: 20px;
            }
            @media (max-width: 1150px) {
                padding: 0 20px 109px 20px;
                margin-right: 0;
                margin-bottom: 60px;
            }
            .contact-form-title {
                @media (max-width: 1500px) {
                    font-size: 54px;
                    line-height: 44px;
                    margin-bottom: 45px;
                    & span {
                        padding-left: 2px;
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
            }
        }

        .card-more-links {
            width: 100%;
            max-width: 557px;
            padding-bottom: 1px;
            h4 {
                margin-bottom: 45px;
                font-family: "Circe-Light";
                font-size: 32px;
                line-height: 32px;
                text-transform: uppercase;
                color: #06828a;
                @media (max-width: 992px) {padding: 0 20px;}
            }
            .catalog-list {
                flex-direction: column;
                width: 100%;
                & .catalog-link span {
                    top: auto;
                    bottom: -9px;
                    left: auto;
                    right: -12px;
                    text-align: right;
                    width: 100%;
                    transform: translate(0);
                    @media (max-width: 992px) {
                        bottom: -5px;
                    }
                    &::before {display: none;}
                }
                & a {
                    width: 100%;
                    &:not(:last-child) {margin-bottom: 25px;}
                }
            }
        }
    }
}

.fancybox-caption {
    font-family: "Circe-Bold";
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}