.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.catalog-list .catalog-link {
  position: relative;
  display: block;
  width: 50%;
  max-height: 347px;
}
.catalog-list .catalog-link img {
  width: 100%;
}
.catalog-list .catalog-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 10px;
  font-family: "Circe-Bold";
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%);
  color: #ffffff;
}
.catalog-list .catalog-link span::before {
  content: "";
  position: absolute;
  top: calc(100% + 20px);
  left: calc(50% - 1.5px);
  width: 46px;
  height: 3px;
  transform: translateX(-50%);
  display: block;
  background-color: #d6d6d6;
  transition: 0.3s ease;
}
.catalog-list .catalog-link:hover span::before {
  left: calc(50% - 23px);
  transform: rotate(90deg);
}
