.news-list-section {
    padding: 163px 0 114px;
    @media (max-width: 1250px) {padding: 75px 0 53px;}
    @media (max-width: 915px) {overflow-x: hidden;}
    & .title {
        margin-bottom: 118px;
        @media (max-width: 1250px) {margin-bottom: 46px;}
    }
}

.news-list-page-section {
    padding: 151px 0 0;
    @media (max-width: 1250px) {padding: 75px 0 0;}
    &.search-list {
        padding: 151px 0 140px;
        @media (max-width: 1250px) {padding: 75px 0;}
    }
}

.news-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &.news-list-slider {
        @media (max-width: 1100px) {
            & .owl-item {
                display: flex;
                align-items: center;
                justify-content: center;}
            }
        @media (max-width: 915px) {min-width: 875px;}
        @media (max-width: 600px) {min-width: 560px;}
    }
}

.news-list-item {
    width: 100%;
    max-width: 462px;
    margin: 15px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    transition: 0.3s ease;
    @media (max-width: 1500px) {max-width: 400px;}
    @media (max-width: 1300px) {max-width: 320px;}
    @media (max-width: 1100px) {max-width: 445px;}
    @media (max-width: 992px) {max-width: 262px;}
    @media (max-width: 650px) {
        margin: 9px;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
    }
    &:hover {box-shadow: none;}
    &-img {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-height: 387px;
        overflow: hidden;
        @media (max-width: 992px) {max-height: 218px;}
        & img {width: 100%;}
    }
    &-cnt {
        padding: 18px 36px 34px 20px;
        border: 1px solid #ebebeb;
        @media (max-width: 1300px) {padding: 15px 15px 17px 11px;}
        & p {
            height: 66px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-family: 'Gilroy-Regular';
            font-size: 16px;
            line-height: 22px;
            color: #898989;
            @media (max-width: 992px) {
                height: 85px;
                font-size: 13px;
                line-height: 17px;
                -webkit-line-clamp: 5;
            }
        }
    }
    &-date {
        margin-bottom: 15px;
        font-family: 'Gilroy-Extrabold';
        font-size: 16px;
        line-height: 16px;
        color: #d1d1d1;
        @media (max-width: 992px) {
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 12px;
        }
    }
    &-title {
        margin-bottom: 10px;
        font-family: 'Futura PT Book';
        font-size: 25px;
        line-height: 26px;
        height: 52px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: #06828a;
        @media (max-width: 992px) {
            margin-bottom: 6px;
            font-size: 13px;
            line-height: 17px;
            height: 34px;
        }
    }
    &-more {
        font-family: 'Futura PT Book';
        font-size: 16px;
        line-height: 21px;
        color: #7d2a40;
        transition: 0.3s ease;
        &:hover {text-decoration: underline;}
    }
}

.news-list-page-section {
    & .news-list {
        flex-flow: row wrap;
        @media (max-width: 1160px) {justify-content: space-around;}
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
    & .wrapper {max-width: 1170px;}
    & .news-list-item {
        max-width: 360px;
        margin: 0 0 20px;
        &-img {max-height: 300px;}
        &-cnt {
            padding: 14px 20px 15px 14px;
            & p {
                margin-bottom: 8px;
                height: 51px;
                font-size: 13px;
                line-height: 17px;
            }
        }
        &-date{
            margin-bottom: 9px;
            font-size: 13px;
            line-height: 13px;
        }
        &-title{
            margin-bottom: 5px;
            font-size: 20px;
            line-height: 22px;
            height: 44px
        }
    }
}

.article-list-section {
    padding: 157px 0 127px;
    @media (max-width: 1100px) {padding: 100px 0 111px;}
}

.article-list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

.news-link-more {
    display: none;
    @media (max-width: 1100px) {
        display: block;
        width: 64px;
        height: 42px;
        margin: 24px auto 0;
    }
}

.article-list-item {
    position: relative;
    width: 100%;
    max-width: 665px;
    height: 100%;
    @media (max-width: 1380px) {max-width: 550px;}
    @media (max-width: 1170px) {max-width: 490px;}
    @media (max-width: 1100px) {max-width: 460px;}
    @media (max-width: 992px) {
        max-width: 322px;
        &:not(:last-child) {margin-bottom: 33px;}
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: calc(100% - 25px);
        height: calc(100% + 18px);
        border: 1px solid #ebebeb;
        @media (max-width: 992px) {
            top: -8px;
            width: calc(100% - 12px);
            height: calc(100% + 8px);
        }
    }
    &-img {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-height: 320px;
        overflow: hidden;
        @media (max-width: 1380px) {max-height: 240px;}
        @media (max-width: 1170px) {max-height: 210px;}
        @media (max-width: 992px) {max-height: 155px;}
        & img,
        & video {width: 100%;}
    }
    &-cnt {
        position: relative;
        z-index: 1;
        padding: 38px 54px 29px 54px;
        width: calc(100% - 25px);
        margin: 0 auto;
        @media (max-width: 1250px) {padding: 30px;}
        @media (max-width: 992px) {padding: 31px 20px 27px 14px;}
        & p {
            margin-bottom: 20px;
            height: 132px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-family: 'Gilroy-Regular';
            font-size: 16px;
            line-height: 22px;
            color: #898989;
            @media (max-width: 992px) {
                margin-bottom: 16px;
                height: 162px;
                font-size: 14px;
                line-height: 18px;
                -webkit-line-clamp: 9;
            }
        }
    }
    &-title {
        margin-bottom: 16px;
        font-family: 'Circe-Light';
        font-size: 32px;
        line-height: 32px;
        height: 32px;
        overflow: hidden;
        display: -webkit-box;
        text-transform: uppercase;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: #06828a;
        @media (max-width: 992px) {
            margin-bottom: 14px;
            height: 26px;
            font-size: 21px;
            line-height: 26px;
        }
    }
    &-more {
        position: relative;
        font-family: 'Futura PT Book';
        font-size: 16px;
        line-height: 21px;
        color: #7d2a40;
        &::before {
            content: '';
            position: absolute;
            right: -40px;
            top: calc(50% - -1.5px);
            width: 31px;
            height: 1px;
            background-color: #7d2a40;
            transition: 0.3s ease;
        }
        &:hover::before {width: calc(100% + 30px);;}
    }
}


.article {
    width: 100%;
    max-width: 827px;
    padding-top: 25px;
    margin-right: 15px;
    &-full {max-width: 100%;}
    @media (max-width: 1370px) {padding-top: 0;}
    @media (max-width: 992px) {
        max-width: 100%;
        margin-right: 0;
    }
    &-shared {
        position: absolute;
        top: 96px;
        left: 28px;
        z-index: 4;
        @media (max-width: 1370px) {
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;
        }
        &.fixed {position: fixed;}
        &-info {
            margin-bottom: 13px;
            @media (max-width: 1370px) {margin: 0 13px 0 0;}
            p {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 2px;
                font-family: 'Gilroy-Bold';
                font-size: 30px;
                line-height: 30px;
                color: #898989;
                & img {
                    width: 25px;
                    margin-right: 7px;
                }
            }
            span {
                font-family: 'Gilroy-Regular';
                font-size: 12px;
                line-height: 12px;
                color: #898989;
            }
        }
        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            & img {width: 100%;}
            &:not(:last-child){
                margin-bottom: 6px;
                @media (max-width: 1370px) {margin: 0 6px 0 0;}
            }
        }
    }
    &-wrap {
        position: relative;
        padding: 160px 0 0;
        overflow: hidden;
        @media (max-width: 1370px) {padding: 85px 0 0;}
    }
    &-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 87px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 60px;
        }
    }
    &-sidebar {
        width: 100%;
        max-width: 293px;
        @media (max-width: 992px) {
            max-width: 100%;
            padding: 55px 0 0;
        }
        &-slider {
            @media (max-width: 992px) {
                min-width: 935px;
            }
        }
        & .news-link-more {
            margin-top: 30px;
            display: none;
            @media (max-width: 992px) {
                display: flex;
                justify-content: center;
            }
        }
        &-item {
            width: 100%;
            max-width: 293px;
            &:not(:last-child) {
                margin-bottom: 65px;
                @media (max-width: 992px) {margin-bottom: 0;}
            }
            &-img {
                position: relative;
                display: block;
                width: 100%;
                height: 174px;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: 0.3s ease;
                }
                &:hover::before {opacity: 1;}
                & span {
                    position: absolute;
                    bottom: -8px;
                    right: -3px;
                    z-index: 2;
                    font-family: "Circe-Bold";
                    font-size: 30px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }
            &-title {
                font-family: 'Circe-Light';
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                color: #06828a; 
            }
        }
    }
    &-text {
        font-family: 'Gilroy-Regular';
        font-size: 16px;
        line-height: 21px;
        color: #898989;
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
        }
        &:not(:last-child) {
            margin-bottom: 29px;
            @media (max-width: 767px) {margin-bottom: 20px;}
        }
        & a {
            font-family: 'Gilroy-Bold';
            padding-bottom: 1px;
            border-bottom: 2px solid #06828a;
            transition: 0.3s ease;
            &:hover {
                color: #7d2a40;
            }
        }
        & b {font-family: 'Gilroy-Bold';}
    }
    & .green-bold {
        font-family: 'Circe-Light';
        font-size: 21px;
        line-height: 32px;
        color: #06828a; 
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 21px;
        }
        &:not(:last-child) {
            margin-bottom: 35px;
            @media (max-width: 767px) {margin-bottom: 65px;}
        }
    }
    &-img {
        &:not(:last-child) {
            margin-bottom: 15px;
            @media (max-width: 767px) {margin-bottom: 2px;}
        }
        & img {width: 100%;}
        &-container {
            width: 100%;
            max-width: 837px;
            @media (max-width: 767px) {
                width: calc(100% + 40px);
                margin-left: -20px;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
                @media (max-width: 767px) {margin-bottom: 56px;}
            }
                
        }
        &-big {width: 100%;}
        &-duo {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            & img {
                width: 49%;
                max-width: 407px;
                &:nth-child(1) {margin-right: 13px;}
            }
        }
    }
    &-quote {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
        width: 100%;
        height: 64px;
        padding: 0 25px;
        margin-bottom: 25px;
        font-family: 'Circe-Light';
        font-size: 21px;
        line-height: 32px;
        text-transform: uppercase;
        color: #06828a;
        border-left: 4px solid #06828a;
        background-image: url(../images/quote.png);
        background-size: 77px 63px;
        background-repeat: no-repeat;
        background-position: right 12px top 0px;
        &:not(:last-child) { margin-bottom: 25px;}
        @media (max-width: 1370px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            height: 55px;
            padding: 0 11px;
            margin-bottom: 20px;
            background-size: 47px 39px;
            background-position: right 2px top 0px;
        }
    }
    &-video {
        width: 100%;
        margin-bottom: 25px;
        @media (max-width: 767px) {
            width: calc(100% + 40px);
            margin-left: -20px;
        }
        & iframe,
        & video {
            width: 100%;
            height: 553px;
            @media (max-width: 767px)  {height: 241px;}
        }
    }
    & .read-more-line {
        padding: 20px 0 15px;
        margin-bottom: 42px;
        @media (max-width: 767px) {
            padding: 26px 0 0;
            margin-bottom: 43px;
        }
        &-title {
            font-family: 'Circe-Light';
            font-size: 32px;
            line-height: 17px;
            text-transform: uppercase;
            color: #06828a;
        }
        & a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: calc(100% - 28px);
            height: 131px;
            font-family: 'Circe-Bold';
            font-size: 21px;
            line-height: 21px;
            text-transform: uppercase;
            color: #06828a;
            background: transparent;
            border: 1px solid #06828a;
            border-left: 0px solid transparent;
            transition: 0.3s ease;
            @media (max-width: 767px) {
                width: 100%;
                height: 190px;
                font-size: 21px;
                line-height: 32px;
            }
            &::before {
                content: '';
                position: absolute;
                right: 100%;
                min-width: 1000px;
                height: calc(100% + 2px);
                border: 1px solid #06828a;
                border-right: none;
                transition: 0.3s ease;
            }
            &:hover {
                color: #ffffff;
                background: #06828a;
                &::before {background-color: #06828a;}
            }
        }
    }
    &-table {
        padding: 23px 0;
        margin-bottom: 23px;
        @media (max-width: 767px) {
            padding: 26px 0 0;
        }
        &-title {
            margin-bottom: 32px;
            font-family: 'Circe-Light';
            font-size: 21px;
            line-height: 21px;
            text-transform: uppercase;
            color: #06828a;
            @media (max-width: 767px) {
                font-size: 26px;
                line-height: 32px;
                margin-bottom: 44px;
            }
        }
        & p {
            font-family: 'Gilroy-Regular';
            font-size: 14px;
            line-height: 14px;
            color: #898989;
        }
        & table {
            width: 100%;
            max-width: 435px;
            margin-bottom: 9px;
            tr {
                min-height: 50px;
                height: 50px;
                text-align: left;
                &:nth-child(odd) {background-color: #ebebeb;}
                & td {
                    padding-left: 20px;
                    font-family: 'Gilroy-Regular';
                    font-size: 16px;
                    line-height: 16px;
                    text-align: left;
                    vertical-align: middle;
                    color: #898989;
                    &:nth-child(1) {max-width: 150px;}
                }
            }
        }
    }
    &-ul {
        padding: 0;
        margin: 0;
        list-style: none;
        & li {
            position: relative;
            padding-left: 14px;
            font-size: 16px;
            line-height: 21px;
            color: #898989;
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 22px;
            }
            &:not(:last-child) {
                margin-bottom:11px;
                @media (max-width: 767px) {margin-bottom: 16px;}
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                display: block;
                width: 5px;
                height: 5px;
                background-color: #06828a;
                border-radius: 50%;
            }
            & p {
                display: block;
                font-family: 'Gilroy-Bold';
            }
            & span {
                display: block;
                font-family: 'Gilroy-Regular';
            }

        }
    }
}


.news-article {
    padding: 0 0 99px;
    @media (max-width: 1250px) {padding: 0 0 50px;}
    & .title {
        margin-bottom: 74px;
        font-size: 32px;
        line-height: 32px;
        padding-left: 0;
        @media (max-width: 767px) {
            margin-bottom: 47px;
            font-size: 26px;
            line-height: 32px;
        }
    }
}