<header>
    <div class="wrapper">
        <div class="header-mob">
            <a href="#" class="logo"><img src="./images/logo.png" alt="logo"></a>
            <button class="menu-trigger"><img src="./images/menu-trigger.svg" alt="menu-trigger"></button>
        </div>
        <div class="header-menu-wrap">
            <div class="header-menu">
                <div class="header-menu-top">
                    <a href="./index.html" class="logo"><img src="./images/logo.png" alt="logo"></a>
                    <button class="menu-close"><img src="./images/reset.svg" alt="menu-close"></button>
                </div>
                <ul class="menu">
                    <li class="menu-level-trigger">
                        <span>Однокорпусные яхты <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                        <ul class="hidden-menu">
                            <li class="hidden-menu-top">
                                <p class="hidden-menu-title">Однокорпусные яхты</p>
                                <a href="#" class="close-hidden-menu">назад</a>
                            </li>
                            <li><a href="catalog.html">Allures Yachting</a></li>
                            <li><a href="catalog.html">Garcia Yachts</a></li>
                            <li><a href="catalog.html">Dufour Yachts</a></li>
                            <li><a href="catalog.html">RM Yachts</a></li>
                            <li><a href="catalog.html">Balt Yacht</a></li>
                        </ul>
                    </li>
                    <li class="menu-level-trigger">
                        <span>Катамараны <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                        <ul class="hidden-menu">
                            <li class="hidden-menu-top">
                                <p class="hidden-menu-title">Катамараны</p>
                                <a href="#" class="close-hidden-menu">назад</a>
                            </li>
                            <li><a href="catalog.html">Fountaine Pajot Sailing Catamarans</a></li>
                            <li><a href="catalog.html">Outremer Catamarans</a></li>
                            <li><a href="catalog.html">Allures Sailing Catamarans</a></li>
                            <li><a href="catalog.html">Garcia Explocat</a></li>
                            <li><a href="catalog.html">Dufour Catamarans</a></li>
                            <li><a href="catalog.html">Aventura Catamarans</a></li>
                            <li><a href="catalog.html">NEEL Trimarans</a></li>
                        </ul>
                    </li>
                    <li class="menu-level-trigger">
                        <span>Моторные яхты <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                        <ul class="hidden-menu">
                            <li class="hidden-menu-top">
                                <p class="hidden-menu-title">Моторные яхты</p>
                                <a href="#" class="close-hidden-menu">назад</a>
                            </li>
                            <li><a href="catalog.html">Fountaine Pajot Motor Yachts</a></li>
                            <li><a href="catalog.html">Garcia Trawler</a></li>
                            <li><a href="catalog.html">Prestige Yachts</a></li>
                            <li><a href="catalog.html">Beneteau Motorboats</a></li>
                            <li><a href="catalog.html">Aventura Power Catamarans</a></li>
                            <li><a href="catalog.html">Яхты Elling</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Брокераж</a>
                    </li>
                    <li class="menu-level-trigger">
                        <span>Интересно <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                        <div class="hidden-menu">
                            <ul class="interesting-menu">
                                <li class="hidden-menu-top">
                                    <p class="hidden-menu-title">Интересно</p>
                                    <a href="#" class="close-hidden-menu">назад</a>
                                </li>
                                <li><a href="./newsList.html">Новости яхтинга</a></li>
                                <li><a href="./nesCardText.html">Тест-драйвы яхт</a></li>
                                <li><a href="./nesCardText.html">Жизнь на яхте</a></li>
                                <li><a href="./nesCardText.html">Яхтенные марины</a></li>
                                <li><a href="./nesCardText.html">Путешествия на яхте</a></li>
                                <li><a href="./nesCardText.html">Забронировать чартер</a></li>
                                <li><a href="./nesCardText.html">Обучение яхтингу</a></li>
                                <li><a href="./nesCardText.html">Курсы яхтинга</a></li>
                                <li><a href="./nesCardText.html">Парусная школа</a></li>
                                <li><a href="./nesCardText.html">История яхтинга</a></li>
                                <li><a href="./nesCardText.html">Акции</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="./contact.html">Контакты</a>
                    </li>
                </ul>
                <div class="search-field">
                    <form action="#">
                        <div class="search-container">
                            <input type="search" name="search" placeholder="Поиск">
                            <button type="submit"><img src="./images/search-icon.svg" alt="search"></button>
                        </div>
                        <input class="search-row" type="search" name="search" placeholder="ПОИСК">
                        <a href="#" class="search-reset"><img src="./images/reset.svg" alt="reset"></a>
                    </form>
                </div>
                <div class="header-triggers">
                    <a href="#" class="search-trigger"><img src="./images/search-icon.svg" alt="search"></a>
                    <a href="whatsapp://+33644142168" class="whatsapp"><img src="./images/whatsapp.svg" alt="whatsapp"></a>
                    <a href="whatsapp://+33644142168" class="viber"><img src="./images/viber.svg" alt="viber"></a>
                </div>
            </div>
        </div>
    </div>
</header>