<header>
    <div class="wrapper">
        <a href="#" class="logo"><img src="./images/logo.png" alt="logo"></a>
        <ul class="menu">
            <li class="menu-level-trigger">
                <span>Однокорпусные яхты <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                <ul class="hidden-menu">
                    <li><a href="#">Allures Yachting</a></li>
                    <li><a href="#">Garcia Yachts</a></li>
                    <li><a href="#">Dufour Yachts</a></li>
                    <li><a href="#">RM Yachts</a></li>
                    <li><a href="#">Balt Yacht</a></li>
                </ul>
            </li>
            <li class="menu-level-trigger">
                <span>Катамараны <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                <ul class="hidden-menu">
                    <li><a href="#">Fountaine Pajot Sailing Catamarans</a></li>
                    <li><a href="#">Outremer Catamarans</a></li>
                    <li><a href="#">Allures Sailing Catamarans</a></li>
                    <li><a href="#">Garcia Explocat</a></li>
                    <li><a href="#">Dufour Catamarans</a></li>
                    <li><a href="#">Aventura Catamarans</a></li>
                    <li><a href="#">NEEL Trimarans</a></li>
                </ul>
            </li>
            <li class="menu-level-trigger">
                <span>Моторные яхты <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                <ul class="hidden-menu">
                    <li><a href="#">Fountaine Pajot Motor Yachts</a></li>
                    <li><a href="#">Garcia Trawler</a></li>
                    <li><a href="#">Prestige Yachts</a></li>
                    <li><a href="#">Beneteau Motorboats</a></li>
                    <li><a href="#">Aventura Power Catamarans</a></li>
                    <li><a href="#">Яхты Elling</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Брокераж</a>
            </li>
            <li class="menu-level-trigger">
                <span>Интересно <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 256"><defs><style>.cls-1{fill:#06828a;}</style></defs><g><g><path class="cls-1" d="M511.23,6.7a10.65,10.65,0,0,0-9.9-6.7H458.67a10.62,10.62,0,0,0-7.33,2.93L256,188,60.67,2.93A10.62,10.62,0,0,0,53.33,0H10.67A10.67,10.67,0,0,0,3.29,18.38L248.62,253a10.68,10.68,0,0,0,14.75,0L508.71,18.38A10.66,10.66,0,0,0,511.23,6.7Z"/></g></g></svg></span>
                <div class="hidden-menu">
                    <ul class="interesting-menu">
                        <li><a href="#">Новости яхтинга</a></li>
                        <li><a href="#">Статьи о яхтинге</a></li>
                        <li><a href="#">Тест-драйвы яхт</a></li>
                        <li><a href="#">Жизнь на яхте</a></li>
                        <li><a href="#">Яхтенные марины</a></li>
                        <li><a href="#">Путешествия на яхте</a></li>
                        <li><a href="#">Забронировать чартер</a></li>
                        <li><a href="#">Обучение яхтингу</a></li>
                        <li><a href="#">Курсы яхтинга</a></li>
                        <li><a href="#">Парусная школа</a></li>
                        <li><a href="#">История яхтинга</a></li>
                        <li><a href="#">Акции</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Контакты</a>
            </li>
        </ul>
        <div class="search-field">
            <form action="#">
                <input type="search" name="search" placeholder="ПОИСК">
                <a href="#" class="search-reset"><img src="./images/reset.svg" alt="reset"></a>
            </form>
        </div>
        <div class="header-triggers">
            <a href="#" class="search-trigger"><img src="./images/search-icon.svg" alt="search"></a>
            <a href="whatsapp://+33644142168" class="whatsapp"><img src="./images/whatsapp.svg" alt="whatsapp"></a>
        </div>
    </div>
</header>