<div class="article-list-section">
    <div class="wrapper">
        <div class="article-list">
            <div class="article-list-item">
                <a href="./newsCardText.html" class="article-list-item-img">
                    <img src="./images/article-list-item-img-1.jpg" alt="article">
                </a>
                <div class="article-list-item-cnt">
                    <a href="./newsCardText.html" class="article-list-item-title">Яхтенный чартер</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <a href="#" class="article-list-item-more">Перейти в раздел</a>
                </div>
            </div>
            <div class="article-list-item">
                <a href="./newsCardText.html" class="article-list-item-img">
                    <video class="video-item" loop="loop" playsinline muted poster="./images/article-list-item-img-2.jpg" preload="none">
                        <source src="./docs/video/video.mp4" type="video/mp4" /> 
                    </video>
                </a>
                <div class="article-list-item-cnt">
                    <a href="./newsCardText.html" class="article-list-item-title">Парусная школа</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <a href="#" class="article-list-item-more">Перейти в раздел</a>
                </div>
            </div>
        </div>
    </div>
</div>