<div class="article-list-section">
    <div class="wrapper">
        <div class="article-list">
            <div class="article-list-item">
                <div class="article-list-item-img">
                    <video class="video-item" loop="loop" muted poster="./images/article-list-item-img-1.jpg" preload="none">
                        <source src="./docs/video/video.mp4" type="video/mp4" /> 
                    </video>
                </div>
                <div class="article-list-item-cnt">
                    <div class="article-list-item-title">Яхтенный чартер</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <a href="#" class="article-list-item-more">Перейти в раздел</a>
                </div>
            </div>
            <div class="article-list-item">
                <div class="article-list-item-img">
                    <video class="video-item" loop="loop" muted poster="./images/article-list-item-img-2.jpg" preload="none">
                        <source src="./docs/video/video.mp4" type="video/mp4" /> 
                    </video>
                </div>
                <div class="article-list-item-cnt">
                    <div class="article-list-item-title">Парусная школа</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <a href="#" class="article-list-item-more">Перейти в раздел</a>
                </div>
            </div>
        </div>
    </div>
</div>