<div class="banner banner-page main-banner">
    <div class="banner-page-img">
        <img src="./images/banner-img-1.jpg" alt="banner">
    </div>
    <div class="banner-cnt">
        <div class="wrapper wrapper-s banner-cnt-titles">
            <div class="head-title">
                <h1 class="smaller">Сервис</h1>
                <div class="breadcrumbs">
                    <a href="#">Главная</a>
                    <span class="slash">•</span>
                    <span>Сервисs</span>
                </div>
            </div>
        </div>
    </div>
</div>