<div class="banner banner-page main-banner">
    <div class="banner-page-img">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/page-banner-img-3.jpg" alt="banner">
    </div>
    <div class="banner-cnt">
        <div class="wrapper wrapper-s banner-cnt-titles">
            <div class="head-title">
                <h1>Контакты</h1>
                <div class="breadcrumbs">
                    <a href="./index.html">Главная</a>
                    <span class="slash">•</span>
                    <span>Контакты</span>
                </div>
            </div>
        </div>
    </div>
</div>