<div class="banner banner-page main-banner">
    <div class="banner-page-img">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/page-banner-img-4.jpg" alt="banner">
    </div>
    <div class="banner-cnt">
        <div class="wrapper wrapper-s banner-cnt-titles">
            <div class="head-title">
                <h1 class="smaller">Экспертный обзор Cruising World катамарана Astrea 42</h1>
                <div class="breadcrumbs">
                    <a href="./index.html">Главная</a>
                    <span class="slash">•</span>
                    <a href="#">Интересно</a>
                    <span class="slash">•</span>
                    <a href="./newsList.html">Новости</a>
                    <span class="slash">•</span>
                    <span>Dixon Yacht Designs</span>
                </div>
            </div>
        </div>
    </div>
</div>