<div class="banner main-banner">
    <div class="banner-slider owl-carousel">
        <div class="banner-slider-item">
            <img src="./images/banner-img-1.jpg" alt="banner">
            <p>Продажа  яхт</p>
        </div>
        <div class="banner-slider-item">
            <img src="./images/banner-img-1.jpg" alt="banner">
            <p>круизы на яхтах</p>
        </div>
        <div class="banner-slider-item">
            <img src="./images/banner-img-1.jpg" alt="banner">
            <p>Парусная школа</p>
        </div>
    </div>
    <div class="banner-cnt">
        <div class="wrapper wrapper-s banner-cnt-titles">
            <div class="head-title">
                <h1>Жизнь</h1>
                <p>под парусом</p>
            </div>
        </div>
        <div class="wrapper wrapper-l banner-info">
            <p>Продажа  яхт</p>
            <p>круизы на яхтах</p>
            <p>Парусная школа</p>
        </div>
    </div>
</div>