<div class="benefits-list-section">
    <div class="wrapper">
        <div class="benefits-list">
            <div class="bnf">
                <div class="bnf-img bnf-img-1"><img src="./images/bnf-1.png" alt="bnf"></div>
                <div class="bnf-cnt">
                    <a href="./newsCardText.html" class="bnf-name">Регистрация</a>
                    <p>Выбор флага для своей яхты — вопрос,  непременно возникающий перед всеми  владельцами яхт.</p>
                </div>
            </div>
            <div class="bnf">
                <div class="bnf-img bnf-img-2"><img  src="./images/bnf-2.png" alt="bnf"></div>
                <div class="bnf-cnt">
                    <a href="./newsCardText.html" class="bnf-name">Страхование</a>
                    <p>Мы обеспечим вас страховым полисом  от одной из крупнейших немецких  страховых компаний YACHT-POOL</p>
                </div>
            </div>
            <div class="bnf">
                <div class="bnf-img bnf-img-3"><img src="./images/bnf-3.png" alt="bnf"></div>
                <div class="bnf-cnt">
                    <a href="./newsCardText.html" class="bnf-name">Сервис</a>
                    <p>На наших базах в Турции, Черногории  и Испании мы готовы выполнить  следующие работы для вашей яхты</p>
                </div>
            </div>
        </div>
    </div>
</div>