
<div class="article-wrap article-wrap-card">
    <div class="card news-article">
        <div class="wrapper">
            <div class="card-info">
                <div class="card-info-img"><img  class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/card-img-1.jpg" alt="card"></div>
                <div class="card-info-cnt">
                    <h4>Новая алюминиевая <br> яхта Allures 40.9 </h4>
                    <p><b>Это усовершенствованная версия успешной модели Allures 39.9, только более  продвинутая, с инновационными решениями более крупной яхты Allures 45.9. </b></p>
                    <p>Allures 40.9 — это прежде всего прочный алюминиевый корпус предназначенный для  океанских круизов и дальних путешествий от Арктики до Антарктики в любом климате. </p>
                    <p>Безусловно яхты Allures выбирают за их надежность, высокий уровень перфоманса,  комфорта и безопасности в любых условиях, благодаря функциональности и проработки  каждой детали совместно с опытными яхтсменами, преданными клиентами верфи.  </p>
                    <p>Безусловно яхты Allures выбирают за их надежность, высокий уровень перфоманса,  комфорта и безопасности в любых условиях, благодаря функциональности и проработки  каждой детали совместно с опытными яхтсменами, преданными клиентами верфи.  </p>
                </div>
            </div>
            <div class="card-exterior card-gallery">
                <div class="card-gallery-cnt">
                    <div class="card-gallery-title gallery-img b-lazy" data-src="images/exterior-1.jpg">
                        <span>ЭКСТЕРЬЕР</span>
                    </div>
                    <div class="card-gallery-list">
                        <a data-fancybox="gallery" href="./images/exterior-2.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-2.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a data-fancybox="gallery" href="./images/exterior-3.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-3.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-4.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-4.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-5.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-5.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-6.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-6.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-7.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-7.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-6.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-6.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-7.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-7.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-exterior card-gallery">
                <h2 class="title">Жизнь под парусом</h2>
                <div class="card-gallery-cnt">
                    <div class="card-gallery-list">
                        <a  data-fancybox="gallery" href="./images/exterior-8.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-8.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-9.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-9.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-10.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-10.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-11.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-11.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-12.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-12.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-13.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-13.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-8.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-8.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-9.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-9.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-10.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-10.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-11.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-11.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-12.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-12.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                        <a  data-fancybox="gallery" href="./images/exterior-13.jpg">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-13.jpg" alt="exterior">
                            <span><img src="./images/view.svg" alt="view"></span>
                        </a>
                    </div>
                    <div class="card-gallery-title gallery-img b-lazy" data-src="images/exterior-14.jpg">
                        <span>интерьер</span>
                    </div>
                </div>
                <a href="" class="card-gallery-view">
                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/exterior-15.jpg" alt="exterior">
                    <span class="gallery-title">
                        <span>Виртуальный тур 360 °</span>
                        <span>Начать тур</span>
                    </span>
                </a>
            </div>
            <div class="card-planning">
                <div class="card-planning-title">Планировки</div>
                <a  data-fancybox="gallery" data-caption="3 каюты + 1 шкиперская + 2 санузла" href="./images/planning-1.jpg">
                    <img class="planning-pc b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-1.jpg" alt="planning">
                    <img class="planning-mob b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-11.jpg" alt="planning">
                    <span class="card-planning-info">
                        3 каюты + 1 шкиперская <br> + 2 санузла
                    </span>
                    <span><img src="./images/view.svg" alt="view"></span>
                </a>
                <a  data-fancybox="gallery" data-caption="3 каюты + 1 шкиперская + 2 санузла" href="./images/planning-1.jpg">
                    <img class="planning-pc b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-1.jpg" alt="planning">
                    <img class="planning-mob b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-11.jpg" alt="planning">
                    <span class="card-planning-info">
                        3 каюты + 1 шкиперская <br> + 2 санузла
                    </span>
                    <span><img src="./images/view.svg" alt="view"></span>
                </a>
                <a  data-fancybox="gallery" data-caption="3 каюты + 1 шкиперская + 2 санузла" href="./images/planning-1.jpg">
                    <img class="planning-pc b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-1.jpg" alt="planning">
                    <img class="planning-mob b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-11.jpg" alt="planning">
                    <span class="card-planning-info">
                        3 каюты + 1 шкиперская <br> + 2 санузла
                    </span>
                    <span><img src="./images/view.svg" alt="view"></span>
                </a>
                <a  data-fancybox="gallery" data-caption="3 каюты + 1 шкиперская + 2 санузла" href="./images/planning-1.jpg">
                    <img class="planning-pc b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-1.jpg" alt="planning">
                    <img class="planning-mob b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/planning-11.jpg" alt="planning">
                    <span class="card-planning-info">
                        3 каюты + 1 шкиперская <br> + 2 санузла
                    </span>
                    <span><img src="./images/view.svg" alt="view"></span>
                </a>
            </div>
            <div class="card-specifications">
                <div class="card-specifications-video">
                    <iframe width="560" height="315" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.youtube.com/embed/KFCuG0FSoBI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="article-table">
                    <div class="article-table-title">Технические характеристики</div>
                    <table>
                        <tr>
                            <td>Длина, м </td>
                            <td>12.36</td>
                        </tr>
                        <tr>
                            <td>Ширина, м </td>
                            <td>4.15</td>
                        </tr>
                        <tr>
                            <td>Осадка, м</td>
                            <td>1,06 / 2.75</td>
                        </tr>
                        <tr>
                            <td>Водоизмещение, т</td>
                            <td>10.9</td>
                        </tr>
                        <tr>
                            <td>Вес балласта, т</td>
                            <td>10.9</td>
                        </tr>
                        <tr>
                            <td>Площадь парусности, м2 </td>
                            <td>82.5</td>
                        </tr>
                        <tr>
                            <td>Пресная вода, л</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>Топливо, л</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>Архитектор</td>
                            <td>Berret-Racoupeau Yacht Design</td>
                        </tr>
                        <tr>
                            <td>Категория плавания</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Двигатель</td>
                            <td></td>
                        </tr>
                    </table>
                    <p>*Более детальную информацию можно получить заказав каталог</p>
                </div>
            </div>
            <div class="article-shared">
                <div class="article-shared-info">
                    <p><img src="./images/share.svg" alt="share">12</p>
                    <span>поделились </span>
                </div>
                <a href="#"><img src="./images/twitter-circle.svg" alt="twitter"></a>
                <a href="#"><img src="./images/pintarest-circle.svg" alt="pintarest"></a>
                <a href="#"><img src="./images/linked-circle.svg" alt="linked"></a>
                <a href="#"><img src="./images/facebook-circle.svg" alt="facebook"></a>
            </div>
            <div class="card-more">
                <div class="contact-form b-lazy" data-src="./images/contact-form.jpg">
                    <form action="#">
                        <h2 class="contact-form-title">
                            получить <br> <span>каталог и прайс-лист</span>
                        </h2>
                        <input type="text" class="form-line" placeholder="Ваше имя*">
                        <input type="email" class="form-line" placeholder="Ваш e-mail">
                        <input type="tel" class="form-line phone-mask" placeholder="Ваш телефон*">
                        <input type="text" class="form-line" placeholder="Сообщение">
                        <button class="btn btn-transparent" type="submit"><span>Отправить</span></button>
                    </form>
                </div>
                <div class="card-more-links">
                    <h4>Другие яхты</h4>
                    <div class="catalog-list">
                        <a href="#" class="catalog-link"><span>Allures 45.9</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-5.jpg" alt="catalog-link"></a>
                        <a href="#" class="catalog-link"><span>Allures 51.9</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-6.jpg" alt="catalog-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>