<div class="catalog-page-cnt">
    <div class="wrapper wrapper-s">
        <div class="catalog-page-list">
            <a href="./card.html" style="background-image: url(./images/catalog-page-img-1.jpg);"><span>Allures 40.9</span></a>
            <a href="./card.html" style="background-image: url(./images/catalog-page-img-2.jpg);"><span>Allures 45.9</span></a>
            <a href="./card.html" style="background-image: url(./images/catalog-page-img-3.jpg);"><span>Allures 51.9</span></a>
        </div>
    </div>
</div>