<div class="catalog-list">
    <a href="#" class="catalog-link"><span>Катамараны</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-1.jpg" alt="catalog-link"></a>
    <a href="#" class="catalog-link"><span>Моторные яхты</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-2.jpg" alt="catalog-link"></a>
    <a href="#" class="catalog-link"><span>Однокорпусные  яхты</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-3.jpg" alt="catalog-link"></a>
    <a href="#" class="catalog-link"><span>Брокераж</span><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/catalog-link-img-4.jpg" alt="catalog-link"></a>
</div>