<div class="contact-form news-article" style="background-image: url('./images/contact-form.jpg');">
    <div class="wrapper wrapper-s">
        <form action="#">
            <h2 class="contact-form-title">
                Связаться <br> <span>с нами</span>
            </h2>
            <input type="text" class="form-line" placeholder="Ваше имя*">
            <input type="email" class="form-line" placeholder="Ваш e-mail">
            <input type="tel" class="form-line phone-mask" placeholder="Ваш телефон*">
            <input type="text" class="form-line" placeholder="Сообщение">
            <button class="btn btn-transparent" type="submit"><span>Отправить</span></button>
        </form>
    </div>
</div>