<div class="contact">
    <div class="wrapper wrapper-s">
        <div class="contact-info">
            <div class="contact-info-row">
                <div class="link-block">
                    <div class="link-block-title">Франция, Ля Рошель,</div>
                    <p>ул. Бригантин, 25</p>
                    <a href="tel:+33644142168">+33 6 44 14 21 68</a>
                </div>
                <div class="link-block">
                    <div class="link-block-title">Грузия, Батуми, </div>
                    <p>ул. Меликишвили, 42-2</p>
                </div>
                <div class="link-block"> 
                    <div class="link-block-title">04071, Киев</div>
                    <p>ул. Оболонская, 31</p>
                    <a href="tel:+380676147757">+ 380 67 614 77 57</a>
                </div>
                <div class="link-block"> 
                    <div class="link-block-title">65009, Одесса</div>
                    <p>ул. Генуэзская 24В</p>
                </div>
            </div>
            <div class="contact-info-row ontact-info-row-2">
                <div class="link-block">  
                    <div class="link-block-title">Почта</div>
                    <a href="mailto:info@interparus.com">info@interparus.com</a>
                </div>
                <div class="link-block link-block-social">
                    <div class="link-block-title">Мы в соц. сетях:</div>
                    <div class="social-links">
                        <a href="#"><img class="whatsapp" src="./images/whatsapp.svg" alt="social"></a>
                        <a href="#"><img class="facebook" src="./images/facebook.svg" alt="social"></a>
                        <a href="#"><img class="instagram" src="./images/instagram.svg" alt="social"></a>
                        <a href="#"><img class="youtube" src="./images/youtube.svg" alt="social"></a>
                        <a href="#"><img class="twitter" src="./images/twitter.svg" alt="social"></a>
                        <a href="#"><img class="pintarest" src="./images/pintarest.svg" alt="social"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>