<div class="news-list-section news-list-page-section search-list">
    <div class="wrapper wrapper-xl">
        <div class="news-list">
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</a>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</a>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">Dragonfly 40: иррациональная  любовь</a>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</a>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</a>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="./newsCard.html" class="news-list-item-title">Dragonfly 40: иррациональная  любовь</a>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="./newsCard.html" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
        </div>
    </div>
</div>