<div class="news-list-section news-list-page-section">
    <div class="wrapper wrapper-xl">
        <div class="news-list">
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-1.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</div>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-2.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</div>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-3.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Dragonfly 40: иррациональная  любовь</div>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-1.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</div>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-2.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</div>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-3.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Dragonfly 40: иррациональная  любовь</div>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-1.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</div>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-2.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</div>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <div class="news-list-item-img">
                    <img src="./images/news-list-item-img-3.jpg" alt="news">
                </div>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <div class="news-list-item-title">Dragonfly 40: иррациональная  любовь</div>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
        </div>
    </div>
</div>