<div class="article-wrap">
    <div class="wrapper wrapper-s">
        <div class="aritcle-block">
            <div class="article">
                <p class="article-text green-bold">
                    Исполнительный редактор самого авторитетного круизного издания Cruising World,  известный яхтсмен и автор Херб Маккормик (Herb McCormick), протестировал самый  востребованный круизный катамаран и вынес свой вердикт.
                </p>
                <div class="article-img-container">
                    <div class="article-img article-img-big"><img src="./images/article-img-1.jpg" alt="article"></div>
                </div>
                <p class="article-text">Французская верфь <a href="#">Fountaine Pajot</a>, базирующийся в Ля Рошель, уже почти полвека строит красивые и  надежные круизные катамараны, где есть все необходимое для большого путешествия. <a href="#">Fountaine Pajot Astrea 42</a>   следует простому, проверенному рецепту: умный дизайн, качественное исполнение и множество  инновационных функций.</p>
                <p class="article-text">Я всегда считал, что лодки <a href="#">Fountaine Pajot</a> хорошо собраны и укомплектованы, на них в удовольствие  ходить под парусом, и с точки зрения комфорта, инноваций и перфоманса, я бы отметил абсолютно все  галочки в списке возможного, как на ходу, так и на якоре. <b>Проще говоря — это классные каты.</b> Новая <a href="#">Astrea  42</a> более чем достойна быть частью большого модельного ряда верфи, который теперь простирается от 40  до 67 футов.</p>
                <p class="article-quote">Вероятно, я фанат бренда, но я абсолютно точно не одинок!</p>
                <p class="article-text">Когда компания обнародовала планы строительства катамарана <a href="#">Astrea</a> на <b>Каннском яхтенном фестивале</b>  два года назад, в следующие несколько месяцев верфь приняла более 150 заказов на этот катамаран …  задолго до того, как мир увидел вживую первый корпус <a href="#">Astrea</a>. <b>По любым меркам это был оглушительный  успех.</b></p>
                <div class="article-img-container">
                    <div class="article-img article-img-big"><img src="./images/article-img-2.jpg" alt="article"></div>
                    <div class="article-img article-img-duo">
                        <img src="./images/article-img-3.jpg" alt="article">
                        <img src="./images/article-img-4.jpg" alt="article">
                    </div>
                </div>
                <p class="article-text">Забавно, что с однокорпусниками мы пришли к принятию так называемой «традиционной» планировки:  двухместная каюта владельца; салон с обеденным столом по центру; камбуз и штурманский стол по бортам.  Но с годами дизайн катамарана развивался таким образом, что каты также разработали свой собственный  традиционный план размещения: двойные двери, соединяющие салон с просторным кокпитом; штурвал,  приподнятый по правому борту для хорошего обзора всех маневров; камбуз с видом на кокпит для удобства;  диван, обеденный стол и штурманский стол впереди в салоне; и просторные уютные каюты, спрятанные в  корпусах, часто с одним корпусом, предназначенным исключительно для владельцев, с роскошной  кроватью, рабочим местом, большим количеством места для хранения и собственным душем и туалетом.</p>
                <div class="read-more-line">
                    <div class="read-more-line-title">читайте также:</div>
                    <p>На Виттерс закончили рефит яхты J-класса Ranger</p>
                </div>
                <p class="article-quote">Такое «меню» здесь на Astrea, выполнено превосходно, с размахом во французском стиле.</p>
                <div class="article-img-container">
                    <div class="article-img article-img-duo">
                        <img src="./images/article-img-5.jpg" alt="article">
                        <img src="./images/article-img-6.jpg" alt="article">
                    </div>
                </div>
                <p class="article-text">Мне понравилось <b>расположение приподнятого поста управления</b>, с пространством, разделенным между  двумя рабочими зонами. Впереди находятся <b>все элементы управления парусами</b> – шкоты с мешком для  веревок, погон гика-шкота и лебедки <a href="#">Lewmar</a>, в том числе электрическая лебедка для грота. За проходом,  <b>место для рулевого</b> со штурвалом и двойным сидением, полным комплектом электроники <a href="#">Garmin</a>,  автопилотом, системами управления двигателем и даже кнопками для управления брашпилем <a href="#">Quick</a>, а  почему бы и нет? </p>
                <div class="article-img-container">
                    <div class="article-img article-img-big"><img src="./images/article-img-7.jpg" alt="article"></div>
                </div>
                <p class="article-text">Поднимаясь на несколько ступеней вверх, вы получаете доступ к <a href="#">сандэку на флайбридже</a>, что, если  подумать, стало еще одной традиционной особенностью для многих катов. Аналогичным образом,  компания проделала сенсационную работу с <b>каютой владельца</b> в версии <a href="#">Maestro</a>, которая занимает весь  корпус правого борта и является действительно приватным пространством. В каюте расположена  потрясающая кровать королевского размера, с пространством по бокам. По центру корпуса, ближе к  проходу, оборудовано место, где вы можете работать в тишине. В каюте, в большом количестве оборудованы  места для хранения вещей. Собственный санузел и гигантская душевая кабина в носовой части вызовут  зависть у любого отеля. </p>
                <p class="article-quote">как только вы окажетесь на борту Astrea, вам потребуется действительно веская причина, чтобы покинуть ее.</p>
                <div class="article-img-container">
                    <div class="article-img article-img-big"><img src="./images/article-img-8.jpg" alt="article"></div>
                    <div class="article-img article-img-duo">
                        <img src="./images/article-img-9.jpg" alt="article">
                        <img src="./images/article-img-10.jpg" alt="article">
                    </div>
                    <div class="article-img article-img-duo">
                        <img src="./images/article-img-11.jpg" alt="article">
                        <img src="./images/article-img-12.jpg" alt="article">
                    </div>
                </div>
                <p class="article-text"><a href="#">Fountaine Pajot</a> серьезно относится к весу катамарана, его легкости, в процессе проектирования и  строительства, так как тяжелые каты не маневренные, верфь стремится соблюдать баланс между  перфомансом и комфортом. Корпуса изготавливаются методом вакуумной инфузии с использованием  бальзового ядра в верхней части бортов до уровня чуть ниже ватерлинии; палуба из пенополиуретана  устанавливается методом инжекции. Все переборки изготовлены из композитного ламината, а для мебели и  отделки используется дерево <a href="#">Alpi.</a></p>
                <p class="article-text">Fountaine Pajot серьезно относится к весу катамарана, его легкости, в процессе проектирования и  строительства, так как тяжелые каты не маневренные, верфь стремится соблюдать баланс между  перфомансом и комфортом. Корпуса изготавливаются методом вакуумной инфузии с использованием  бальзового ядра в верхней части бортов до уровня чуть ниже ватерлинии; палуба из пенополиуретана  устанавливается методом инжекции. Все переборки изготовлены из композитного ламината, а для мебели и  отделки используется дерево Alpi.</p>
                <div class="article-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KFCuG0FSoBI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="article-quote">Эта модель названа <span>лучшей многокорпусной  яхтой 2018</span> года во Франции,</p>
                <p class="article-text">Знаменитыми журналами Voile Magazine и Le Monde du Multicoque, и лучшей многокорпусной яхтой 2019 года  в Европе получив премию European Yacht of the Year 2019. Номинирована на премию Best Boats 2019 по  версии Sail Magazine (США), 2019 Boat of the Year по версии Cruising World и Multihulls World.</p>
                <div class="article-table">
                    <div class="article-table-title">Технические характеристики</div>
                    <table>
                        <tr>
                            <td>Длина, м </td>
                            <td>12.36</td>
                        </tr>
                        <tr>
                            <td>Ширина, м </td>
                            <td>4.15</td>
                        </tr>
                        <tr>
                            <td>Осадка, м</td>
                            <td>1,06 / 2.75</td>
                        </tr>
                        <tr>
                            <td>Водоизмещение, т</td>
                            <td>10.9</td>
                        </tr>
                        <tr>
                            <td>Вес балласта, т</td>
                            <td>10.9</td>
                        </tr>
                        <tr>
                            <td>Площадь парусности, м2 </td>
                            <td>82.5</td>
                        </tr>
                        <tr>
                            <td>Пресная вода, л</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>Топливо, л</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>Архитектор</td>
                            <td>Berret-Racoupeau Yacht Design</td>
                        </tr>
                    </table>
                    <p>*Более детальную информацию можно получить заказав каталог</p>
                </div>
                <div class="read-more-line read-more-line-white">
                    <div class="read-more-line-title">читайте также:</div>
                    <p>На Виттерс закончили рефит яхты J-класса Ranger</p>
                </div>
                <ul class="article-list">
                    <li>
                        <p>На Виттерс закончили рефит яхты J-класса Ranger</p>
                        <span>На стенде будут представлены бестселлеры круизной линейки Grand Large: Dufour 360, Dufour 390,   Dufour 430, Dufour 460, а также революционная новинка Dufour 530 – Мировая премьера!</span>
                    </li>
                    <li>
                        <p>Allures Yachting: Hall 16 — Stand D40</p>
                        <span>На стенде будет представлена самая ожидаемая новинка — алюминиевая яхта Allures 40.9 –  Мировая премьера!</span>
                    </li>
                </ul>
            </div>
            <div class="article-sidebar">
                <div class="article-sidebar-slider owl-carousel">
                    <div class="article-sidebar-item">
                        <a href="#" style="background-image: url(./images/catalog-page-img-1.jpg);"><span>Allures 40.9</span></a>
                        <a href="#" class="article-sidebar-item-title">жизнь под парусом</a>
                    </div>
                    <div class="article-sidebar-item">
                        <a href="#" style="background-image: url(./images/catalog-page-img-2.jpg);"><span>Allures 45.9</span></a>
                        <a href="#" class="article-sidebar-item-title">жизнь под парусом</a>
                    </div>
                    <div class="article-sidebar-item">
                        <a href="#" style="background-image: url(./images/catalog-page-img-3.jpg);"><span>Allures 51.9</span></a>
                        <a href="#" class="article-sidebar-item-title">жизнь под парусом</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>