<div class="news-list-section article-list-section news-list-page-section news-article">
    <div class="wrapper wrapper-xl">
        <h2 class="title">Новости и статьи</h2>
        <div class="news-list news-list-slider owl-carousel">
            <div class="news-list-item">
                <a href="#" class="news-list-item-img">
                    <img src="./images/news-list-item-img-1.jpg" alt="news">
                </a>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="#" class="news-list-item-title">SY200: чистокровный шлюп  от Филиппа Бриана</a>
                    <p>Филипп Бриан представил новейшую концепцию от  своей лондонской студии дизайна — 200-футовый / 60-метровый SY200. Оснащенный традиционным …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <a href="#" class="news-list-item-img">
                    <img src="./images/news-list-item-img-2.jpg" alt="news">
                </a>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="#" class="news-list-item-title">Суперяхта Kawil победила на  состязании монстров</a>
                    <p>В живописном Бей-оф-Айлендс год начинается с  грандиозного зрелища. С 2000 года здесь проводят  Millennium Cup New Zealand — регату для ...</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
            <div class="news-list-item">
                <a href="#" class="news-list-item-img">
                    <img src="./images/news-list-item-img-3.jpg" alt="news">
                </a>
                <div class="news-list-item-cnt">
                    <div class="news-list-item-date">03.03.2020</div>
                    <a href="#" class="news-list-item-title">Dragonfly 40: иррациональная  любовь</a>
                    <p>Архитектор и яхтсмен из Португалии, который ведет  блог Interesting Sailboats, написал увлекательную  заметку о тримаране Dragonfly 40 с бот-шоу в …</p>
                    <a href="#" class="news-list-item-more">Читать далее…</a>
                </div>
            </div>
        </div>
        <div class="news-link-more"><img src="./images/arrow-new.svg" alt="arrow"></div>
    </div>
</div>