
<div class="wrapper wrapper-s">
    <div class="article-block">
        <div class="article article-full">
            <p class="article-text green-bold">
                На наших базах в Турции, Черногории и Испании мы готовы выполнить следующие работы для вашей яхты:
            </p>
            <div class="article-img-container">
                <div class="article-img  article-img-big"><img   src="./images/article-img-13.jpg" alt="article"></div>
            </div>
            <ul class="article-ul">
                <li><span>Ремонт стеклопластикового или карбонового корпуса, антиосмос, полировка, покраска необростающими составами. Тюнинг.
                </span></li>
                <li><span>Обслуживание и ремонт винто-рулевого комплекса (замена, подбор гребного винта, замена втулки Гудрича, сальниковой набивки, втулок на 
                    баллере)</span></li>
                <li><span>Обслуживание и ремонт моторов и реверс-редукторов.</span></li>
                <li><span>Палуба  из тика, Мариндек  или другого не скользящего покрытия.</span></li>
                <li><span>Ремонт, замена  любого сантехнического оборудования</span></li>
                <li><span>Установка автономных отопителей и кондиционеров</span></li>
                <li><span>Установка солнечных панелей, холодильников, стиральных  и посудомоечных машин</span></li>
                <li><span>Установка дизель-генераторов и опреснителей</span></li>
                <li><span>Консервация и подготовка яхты к сезону</span></li>
            </ul>
            <div class="article-shared">
                <div class="article-shared-info">
                    <p><img src="./images/share.svg" alt="share">12</p>
                    <span>поделились </span>
                </div>
                <a href="#"><img src="./images/twitter-circle.svg" alt="twitter"></a>
                <a href="#"><img src="./images/pintarest-circle.svg" alt="pintarest"></a>
                <a href="#"><img src="./images/linked-circle.svg" alt="linked"></a>
                <a href="#"><img src="./images/facebook-circle.svg" alt="facebook"></a>
            </div>
        </div>
    </div>
</div>