    <div id="subscribePopup" class="popup-wrapper">
        <div class="popup-layout">
            <div class="popup">
                <div class="popup-img"><img src="./images/popup-img.jpg" alt="popup-img"></div>
                <div class="popup-cnt">
                    <form action="">
                        <div class="popup-title">Подпишись на самые  яхтенные новости!</div>
                        <div class="popup-subtitle">Приобщайся к нашему яхтенному сообществу.  Новинки яхтинга раз в две недели.</div>
                        <input type="text" placeholder="Имя" class="form-field">
                        <input type="email" placeholder="E-mail " class="form-field">
                        <button  class="btn btn-transparent btn-transparent-red btn-thanks-link btn-red-sub" type="submit"><span>Подписаться </span></button>
                    </form>
                </div>
                <div class="popup-close"><img src="./images/reset.svg" alt=""></div>
            </div>
        </div>
    </div>

    <div id="submitPopup" class="popup-wrapper">
        <div class="popup-layout">
            <div class="popup">
                <div class="popup-title">Подтверждение действия</div>
                <form action="#">
                    <div class="recapthca">
                        <img src="./images/rec.jpg" alt="">
                    </div>
                    <button  class="btn btn-transparent btn-transparent-red btn-thanks-link" type="submit"><span>Отправить</span></button>
                </form>
                <div class="popup-close"><img src="./images/reset.svg" alt=""></div>
            </div>
        </div>
    </div>