footer {
  padding: 85px 0;
  background-color: #252525;
}
.footer-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-row:not(:last-child) {
  margin-bottom: 53px;
}
.footer-row-3 {
  align-items: center;
}
.footer-row-3 p,
.footer-row-3 a {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.footer-row-3 .developed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-row-3 .developed img {
  margin-left: 4px;
}
.footer-logo {
  display: inline-block;
  margin-right: 35px;
  font-family: "Gilroy-Semibold";
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
}
.footer-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-column form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-column .form-field:not(:last-child) {
  margin-right: 18px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 207px;
  border-bottom: 1px solid #393939;
}
.search-container input {
  width: 100%;
  height: 30px;
  padding: 0 28px 12px 11px;
  background: none;
  border: none;
  outline: none;
  font-family: "Futura PT Book";
  font-size: 16px;
  line-height: 16px;
  color: #878787;
}
.search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 28px;
  background: none;
}
.search-container button img {
  width: 14px;
  height: 14px;
}
.subscribe {
  width: 100%;
  max-width: 673px;
}
.subscribe form {
  width: 100%;
}
.link-block-title {
  margin-bottom: 10px;
  font-family: "Century Gothic-Bold";
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
.link-block p,
.link-block a {
  font-family: "Century Gothic Regular";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}
.link-block a:hover {
  border-bottom: 1px solid #484848;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3px;
}
.social-links a:not(:last-child) {
  margin-right: 10px;
}
.social-links a img.whatsapp {
  width: 24px;
}
.social-links a img.facebook {
  width: 22px;
}
.social-links a img.instagram {
  width: 22px;
}
.social-links a img.youtube {
  width: 30px;
}
.social-links a img.twitter {
  width: 28px;
}
.social-links a img.pintarest {
  width: 23px;
}
