footer {
  padding: 74px 0;
  background-color: #252525;
}
@media (max-width: 650px) {
  .footer-info-pc {
    display: none;
  }
}
.footer-info-mob {
  display: none;
}
@media (max-width: 650px) {
  .footer-info-mob {
    display: block;
  }
  .footer-info-mob a {
    display: block;
    margin-top: 10px;
  }
}
.footer-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-row:not(:last-child) {
  margin-bottom: 51px;
}
@media (max-width: 992px) {
  .footer-row {
    flex-flow: row wrap;
  }
  .footer-row:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer-row-3 {
  align-items: center;
}
.footer-row-3 p,
.footer-row-3 a {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer-row-3 p,
  .footer-row-3 a {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .footer-row-3 p,
  .footer-row-3 a {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .footer-row-3 p {
    margin-bottom: 20px;
  }
}
.footer-row-3 .developed {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450px) {
  .footer-row-3 .developed {
    justify-content: flex-start;
  }
}
.footer-row-3 .developed img {
  margin-left: 4px;
}
.footer-logo {
  display: inline-block;
  margin-right: 35px;
  font-family: "Gilroy-Semibold";
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer-logo {
    margin: 0 0 20px;
  }
}
.footer-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .footer-column {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-column:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .footer-column {
    align-items: flex-start;
    text-align: left;
  }
}
.footer-column form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .footer-column form {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer-column form {
    justify-content: flex-start;
  }
}
.footer-column .form-field:not(:last-child) {
  margin-right: 18px;
}
@media (max-width: 650px) {
  .footer-column .form-field:not(:last-child) {
    margin: 0 0 19px;
  }
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 207px;
  border-bottom: 1px solid #393939;
}
@media (max-width: 1100px) {
  .search-container {
    max-width: 160px;
  }
}
@media (max-width: 992px) {
  .search-container {
    max-width: 596px;
  }
}
@media (max-width: 650px) {
  .search-container {
    max-width: 207px;
  }
}
.search-container input {
  width: 100%;
  height: 30px;
  padding: 0 28px 12px 11px;
  background: none;
  border: none;
  outline: none;
  font-family: "Futura PT Book";
  font-size: 16px;
  line-height: 16px;
  color: #878787;
}
.search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 28px;
  background: none;
}
.search-container button img {
  width: 14px;
  height: 14px;
}
.footer-links {
  display: none;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
@media (max-width: 450px) {
  .footer-links {
    display: flex;
  }
}
.footer-links a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-links a span {
  display: inline-block;
  margin-right: 10px;
  font-family: "Century Gothic-Bold";
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
.footer-links a:not(:last-child) {
  margin-right: 25px;
}
.footer-links a img.whatsapp {
  width: 33px;
}
.footer-links a img.viber {
  width: 31px;
}
.subscribe {
  width: 100%;
  max-width: 673px;
}
@media (max-width: 1100px) {
  .subscribe {
    max-width: 590px;
  }
}
@media (max-width: 992px) {
  .subscribe {
    max-width: 100%;
  }
}
.subscribe form {
  width: 100%;
}
@media (max-width: 650px) {
  .subscribe form {
    flex-direction: column;
  }
  .subscribe form .form-field {
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .subscribe form {
    align-items: flex-start;
  }
  .subscribe form .form-field {
    max-width: 220px;
  }
}
@media (max-width: 992px) {
  .link-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .link-block {
    width: 50%;
    margin-bottom: 36px;
  }
}
@media (max-width: 450px) {
  .link-block {
    align-items: flex-start;
    width: 100%;
  }
}
.link-block-title {
  margin-bottom: 10px;
  font-family: "Century Gothic-Bold";
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
.link-block p,
.link-block a {
  font-family: "Century Gothic Regular";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: 0.3s ease;
}
.link-block a:hover {
  border-bottom: 1px solid #484848;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3px;
}
.social-links a:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 650px) {
  .social-links a:first-child {
    display: none;
  }
}
.social-links a img.whatsapp {
  width: 24px;
}
.social-links a img.facebook {
  width: 22px;
}
.social-links a img.instagram {
  width: 22px;
}
.social-links a img.youtube {
  width: 30px;
}
.social-links a img.twitter {
  width: 28px;
}
.social-links a img.pintarest {
  width: 23px;
}
