header {
  background: #ffffff;
}
header .wrapper {
  max-width: 1170px;
}
@media (max-width: 992px) {
  header .wrapper {
    padding: 0 46px 0 22px;
  }
}
header .logo {
  display: block;
  width: 100%;
  max-width: 176px;
  margin-right: 43px;
}
@media (max-width: 1170px) {
  header .logo {
    max-width: 145px;
    margin-right: 0;
  }
}
header .logo img {
  width: 100%;
}
header .menu,
header .hidden-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .menu li,
header .hidden-menu li {
  position: relative;
}
header .menu li:not(:last-child),
header .hidden-menu li:not(:last-child) {
  margin: 0 33px 0 0;
}
@media (max-width: 170px) {
  header .menu li:not(:last-child),
  header .hidden-menu li:not(:last-child) {
    margin: 0 15px 0 0;
  }
}
header .menu li > span,
header .menu li > a,
header .hidden-menu li > span,
header .hidden-menu li > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 16px;
  color: #5b5b5b;
  transition: 0.3s ease;
}
@media (max-width: 1170px) {
  header .menu li > span,
  header .menu li > a,
  header .hidden-menu li > span,
  header .hidden-menu li > a {
    font-size: 14px;
    line-height: 14px;
  }
}
header .menu li > span svg,
header .menu li > a svg,
header .hidden-menu li > span svg,
header .hidden-menu li > a svg {
  width: 8px;
  height: 4px;
  margin-left: 6px;
  transition: 0.3s ease;
}
header .menu li > span svg .cls-1,
header .menu li > a svg .cls-1,
header .hidden-menu li > span svg .cls-1,
header .hidden-menu li > a svg .cls-1 {
  fill: #5b5b5b;
  transition: 0.3s ease;
}
header .menu li:hover > a,
header .hidden-menu li:hover > a {
  color: #06828a;
}
header .menu li.open > span,
header .menu li.open > a,
header .hidden-menu li.open > span,
header .hidden-menu li.open > a {
  color: #06828a;
}
header .menu li.open > span svg,
header .menu li.open > a svg,
header .hidden-menu li.open > span svg,
header .hidden-menu li.open > a svg {
  transform: rotate(180deg);
}
header .menu li.open > span svg .cls-1,
header .menu li.open > a svg .cls-1,
header .hidden-menu li.open > span svg .cls-1,
header .hidden-menu li.open > a svg .cls-1 {
  fill: #06828a;
}
header .hidden-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 3;
  display: none;
  min-width: 190px;
  padding: 84px 15px 30px 33px;
  background-color: #ffffff;
  transform: translateX(-50%);
}
@media (max-width: 1170px) {
  header .hidden-menu {
    padding: 60px 15px 30px 15px;
  }
}
@media (max-width: 992px) {
  header .hidden-menu {
    position: static;
    transform: translateX(0);
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-shadow: none !important;
  }
}
@media (max-width: 550px) {
  header .hidden-menu {
    margin: 0;
  }
}
header .hidden-menu-top {
  display: none;
  align-items: center;
  justify-content: space-between;
}
header .hidden-menu-top p,
header .hidden-menu-top a {
  font-family: "Gilroy-Regular";
  font-size: 16px !important;
  line-height: 16px !important;
  color: #aeaeae;
}
header .hidden-menu-top a {
  color: #06828a !important;
}
@media (max-width: 992px) {
  header .hidden-menu-top {
    display: flex;
  }
}
header .hidden-menu .interesting-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  width: 423px;
  list-style: none;
  max-height: 300px;
}
header .hidden-menu .interesting-menu li:not(:last-child) {
  margin: 0 5px 29px 0;
}
@media (max-width: 992px) {
  header .hidden-menu .interesting-menu {
    width: 100%;
    max-height: 100%;
  }
}
header .hidden-menu a:hover {
  color: #06828a;
}
header .hidden-menu::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 28px;
  background-color: #ebebeb;
}
@media (max-width: 992px) {
  header .hidden-menu::before {
    display: none;
  }
}
header .hidden-menu li:not(:last-child) {
  margin: 0 0 29px;
}
@media (max-width: 992px) {
  header .hidden-menu li a {
    font-size: 16px !important;
    line-height: 16px !important;
    color: #393939;
  }
}
header .header-triggers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}
@media (max-width: 992px) {
  header .header-triggers {
    justify-content: center;
    width: 100%;
    padding: 0 46px 30px;
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  header .header-triggers {
    justify-content: flex-start;
  }
}
header .header-triggers .search-trigger {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 24px;
}
@media (max-width: 992px) {
  header .header-triggers .search-trigger {
    display: none;
  }
}
header .header-triggers .search-trigger img {
  width: 100%;
}
header .header-triggers .whatsapp {
  display: block;
  width: 21px;
  min-width: 21px;
  height: 21px;
}
@media (max-width: 992px) {
  header .header-triggers .whatsapp {
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 23px;
  }
}
header .header-triggers .whatsapp img {
  width: 100%;
}
header .header-triggers .viber {
  display: none;
}
@media (max-width: 992px) {
  header .header-triggers .viber {
    display: block;
    width: 39px;
    min-width: 39px;
    height: 43px;
  }
}
header .header-triggers .viber img {
  width: 100%;
}
header .search-field {
  position: absolute;
  top: 100%;
  right: 6px;
  z-index: 3;
  width: 100%;
  display: none;
  max-width: 930px;
  padding: 14px 33px 25px 47px;
  background-color: #ffffff;
}
header .search-field .search-container {
  display: none;
}
@media (max-width: 992px) {
  header .search-field {
    position: static;
    display: block;
    padding: 0 42px 31px 42px;
  }
  header .search-field .search-container {
    display: flex;
  }
  header .search-field .search-row,
  header .search-field .search-reset {
    display: none;
  }
  header .search-field .search-container {
    align-items: flex-end;
    border-bottom: 1px solid #e0e0e0;
    max-width: 207px;
    margin: 0 auto;
  }
  header .search-field .search-container input {
    padding: 0 6px 7px;
    height: auto;
    font-size: 14px;
    line-height: 14px;
    border-bottom: none;
  }
}
@media (max-width: 550px) {
  header .search-field .search-container {
    margin: 0;
  }
}
header .search-field form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .search-field input {
  width: 100%;
  max-width: 788px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  font-family: "Circe-Light";
  font-size: 16px;
  line-height: 16px;
  color: #939393;
  border-bottom: 1px solid #ebebeb;
  transition: 0.3s ease;
}
header .search-field input:focus {
  border-bottom: 1px solid #06828a;
}
header .search-field .search-reset {
  width: 25px;
  min-width: 25px;
  height: 25px;
  outline: none;
}
header .search-field .search-reset img {
  width: 100%;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  box-shadow: 0 0 15px lightgray;
}
header.fixed .search-field,
header.fixed .hidden-menu {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.12);
}
@media (max-width: 992px) {
  header.fixed .search-field,
  header.fixed .hidden-menu {
    box-shadow: none !important;
  }
}
@media (max-width: 992px) {
  header .header-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #ffffff;
  }
}
header .header-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  padding-top: 34px;
  padding-bottom: 34px;
}
@media (max-width: 992px) {
  header .header-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 90px;
  }
  header .header-menu .menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 42px;
    max-width: 340px;
    width: 100%;
    margin: 0 auto 40px;
  }
  header .header-menu .menu li:not(:last-child) {
    margin: 0 0 39px;
  }
  header .header-menu .menu .hidden-menu li:not(:last-child) {
    margin: 0 0 35px;
  }
  header .header-menu .menu li > span,
  header .header-menu .menu li > a,
  header .header-menu .menu .hidden-menu li > span,
  header .header-menu .menu .hidden-menu li > a {
    font-size: 21px;
    line-height: 21px;
  }
  header .header-menu .menu li {
    width: 100%;
  }
  header .header-menu .menu li > span {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 550px) {
  header .header-menu .menu {
    margin: 0 0 45px;
  }
}
header .header-menu .menu-close {
  display: none;
  width: 53px;
  height: 53px;
  background: transparent;
  border: none;
  outline: none;
}
header .header-menu .menu-close img {
  width: 100%;
}
@media (max-width: 992px) {
  header .header-menu .menu-close {
    display: block;
  }
}
@media (max-width: 992px) {
  header .header-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 35px;
    padding: 23px 46px 24px 22px;
  }
  header .header-menu-top .logo {
    max-width: 180px;
    padding-top: 10px;
  }
}
header.open .header-mob {
  display: none !important;
}
header.open .header-menu-wrap {
  display: block;
}
@media (max-width: 992px) {
  header.open.step-two .menu > li:not(:last-child) {
    margin-bottom: 0 !important;
  }
  header.open.step-two .menu > li > span,
  header.open.step-two .menu > li > a {
    display: none;
  }
}
header .header-mob {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-top: 23px;
  padding-bottom: 24px;
}
header .header-mob .logo {
  max-width: 180px;
  padding-top: 10px;
}
header .header-mob .menu-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 33px;
  background: transparent;
  border: none;
  outline: none;
}
header .header-mob .menu-trigger img {
  width: 100%;
}
@media (max-width: 992px) {
  header .header-mob {
    display: flex;
  }
}
